div.list{
  margin-top: 2rem;
  margin-left: 4%;
  border: 2px solid black;
  border-radius: 8px;
  width: 90%
}
div.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; 
    padding: 20px; 
  }

  h1{
    text-align: center;
  }

  h2{
    text-align: center;
  }